.calendar-dates {
	display: grid;
	grid-template-columns: 0.3fr repeat(7, 1fr);
	text-align: center;
}

.calendar-dates .timeline-box,
.timeline-column__header {
	position: relative;
	font-size: 15px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #cccccc;
	color: #333333;
	padding: 10px;
	margin: 0;
}

.timeline-column .timeline-column__header {
	border-bottom: 1px solid #eeeeee;
}

.timeline-column:not(:last-child) .timeline-column__header {
	border-right: 1px solid #eeeeee;
}

.calendar-dates .timeline-box:not(:nth-of-type(odd)) {
	background-color: #dddddd;
}

.timeline-column:not(:last-of-type) .timeline-box {
	border-right: 1px solid #ebf2ff;
}

.timeline-box button {
	margin-top: 5px;
}

.event-active {
	position: absolute;
	z-index: 2;
	background: #6ebe4a;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-shadow: 0px 7px 10px 0px rgb(0 0 0 / 19%);
	min-height: 50px;
	resize: vertical;
	overflow: auto;
}

.event-active span {
	display: block;
	margin-top: -5px;
}

.resize-mask {
	content: "";
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 162, 255);
	resize: vertical;
	overflow: auto;
	opacity: 0.5;
	display: none;
}

.h-1 {
	height: 50px;
}

.h-2 {
	height: 100px;
}

.h-3 {
	height: 150px;
}

.h-4 {
	height: 200px;
}

.dragging {
	background: #5c9144;
}

.edit-event,
.remove-event {
	cursor: pointer;
}

.duration-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: none !important;
}

.duration-controls svg {
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0px 7px 10px 0px rgb(0 0 0 / 19%);
	background: #6ebe4a;
	padding: 3px;
	box-sizing: border-box;
	font-size: 1rem;
}
